/*
  Icon Font: wb-glyphs
*/

@font-face {
  font-family: "wb-glyphs";
  src: url("./wb-glyphs_7e815c5dc1efadd75abc604536de6793.eot");
  src: url("./wb-glyphs_7e815c5dc1efadd75abc604536de6793.eot?#iefix") format("embedded-opentype"),
       url("./wb-glyphs_7e815c5dc1efadd75abc604536de6793.woff") format("woff"),
       url("./wb-glyphs_7e815c5dc1efadd75abc604536de6793.ttf") format("truetype"),
       url("./wb-glyphs_7e815c5dc1efadd75abc604536de6793.svg#wb-glyphs") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "wb-glyphs";
    src: url("./wb-glyphs_7e815c5dc1efadd75abc604536de6793.svg#wb-glyphs") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-author:before,
.icon-chevron:before,
.icon-close:before,
.icon-diamond:before,
.icon-double-medal:before,
.icon-download:before,
.icon-email:before,
.icon-medal:before,
.icon-medal-trophy:before,
.icon-occasion:before,
.icon-phone:before,
.icon-pin:before,
.icon-plus:before,
.icon-points:before,
.icon-points-100:before,
.icon-points-90:before,
.icon-points-91:before,
.icon-points-92:before,
.icon-points-93:before,
.icon-points-94:before,
.icon-points-95:before,
.icon-points-96:before,
.icon-points-97:before,
.icon-points-98:before,
.icon-points-99:before,
.icon-print:before,
.icon-range:before,
.icon-recipe-service:before,
.icon-rss:before,
.icon-search:before,
.icon-share:before,
.icon-social-digg:before,
.icon-social-facebook:before,
.icon-social-flicker:before,
.icon-social-google:before,
.icon-social-google-plus:before,
.icon-social-instagram:before,
.icon-social-linkedin:before,
.icon-social-pinterest:before,
.icon-social-skype:before,
.icon-social-tumblr:before,
.icon-social-twitter:before,
.icon-social-yahoo:before,
.icon-social-youtube:before,
.icon-stars:before,
.icon-timer:before,
.icon-trophy:before,
.icon-trophy-double:before,
.icon-type:before,
.icon-varietal:before {
  display: inline-block;
  font-family: "wb-glyphs";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-author:before { content: "\f108"; }
.icon-chevron:before { content: "\f109"; }
.icon-close:before { content: "\f10a"; }
.icon-diamond:before { content: "\f10b"; }
.icon-double-medal:before { content: "\f10c"; }
.icon-download:before { content: "\f10d"; }
.icon-email:before { content: "\f130"; }
.icon-medal:before { content: "\f100"; }
.icon-medal-trophy:before { content: "\f10e"; }
.icon-occasion:before { content: "\f101"; }
.icon-phone:before { content: "\f131"; }
.icon-pin:before { content: "\f10f"; }
.icon-plus:before { content: "\f110"; }
.icon-points:before { content: "\f102"; }
.icon-points-100:before { content: "\f111"; }
.icon-points-90:before { content: "\f112"; }
.icon-points-91:before { content: "\f113"; }
.icon-points-92:before { content: "\f114"; }
.icon-points-93:before { content: "\f115"; }
.icon-points-94:before { content: "\f116"; }
.icon-points-95:before { content: "\f117"; }
.icon-points-96:before { content: "\f118"; }
.icon-points-97:before { content: "\f119"; }
.icon-points-98:before { content: "\f11a"; }
.icon-points-99:before { content: "\f11b"; }
.icon-print:before { content: "\f11c"; }
.icon-range:before { content: "\f103"; }
.icon-recipe-service:before { content: "\f11d"; }
.icon-rss:before { content: "\f11e"; }
.icon-search:before { content: "\f11f"; }
.icon-share:before { content: "\f120"; }
.icon-social-digg:before { content: "\f121"; }
.icon-social-facebook:before { content: "\f122"; }
.icon-social-flicker:before { content: "\f123"; }
.icon-social-google:before { content: "\f124"; }
.icon-social-google-plus:before { content: "\f125"; }
.icon-social-instagram:before { content: "\f126"; }
.icon-social-linkedin:before { content: "\f127"; }
.icon-social-pinterest:before { content: "\f128"; }
.icon-social-skype:before { content: "\f129"; }
.icon-social-tumblr:before { content: "\f12a"; }
.icon-social-twitter:before { content: "\f12b"; }
.icon-social-yahoo:before { content: "\f12c"; }
.icon-social-youtube:before { content: "\f12d"; }
.icon-stars:before { content: "\f104"; }
.icon-timer:before { content: "\f12e"; }
.icon-trophy:before { content: "\f105"; }
.icon-trophy-double:before { content: "\f12f"; }
.icon-type:before { content: "\f106"; }
.icon-varietal:before { content: "\f107"; }
